* {
  box-sizing: border-box;
}


.survey-container {
  width: 200px;
  margin: auto; 
}

h1.margin {
  margin: 50px 0px 15px 0px
}

input::placeholder {
  color: #657786;
  font-size: 14px;
  padding : 7px 12px;
  font-weight: bold;
}
